{% extends "base.html" %}
{% load static %}
{% block cuerpo %}

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <h1>Registrar Empleado</h1>
    <div class="card">
      <div class="card-body">
        <form action="{% url 'registrarEmpleado' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" id="txtid" name="txtid" class="form-control" placeholder="ID del Empleado" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" maxlength="50" required>
          </div>
          <div class="form-group py-3">
            <input type="number" id="numtelefono" name="numtelefono" class="form-control" placeholder="Teléfono" required>
          </div>
          <div class="form-group py-3">
            <input type="date" id="datafec" name="datafec" class="form-control" placeholder="Fecha" required>
          </div>
          <div class="form-group py-3">
            <input type="number" step="0.01" id="numsalario" name="numsalario" class="form-control" placeholder="Salario" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtcurp" name="txtcurp" class="form-control" placeholder="CURP" maxlength="15" required>
          </div>
          <div class="form-group py-3">
            <input type="number" id="txtids" name="txtids" class="form-control" placeholder="ID de la sucursal" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtpuesto" name="txtpuesto" class="form-control" placeholder="Puesto" required>
          </div>

          <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-8">
    <h1>Listado de Empleados</h1>
    <img src="{% static "img/empleados.jpg" %}" style="width: 300px;" alt="Ejemplo de imagen">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Fecha</th>
            <th scope="col">Salario</th>
            <th scope="col">CURP</th>
            <th scope="col">IDSucursal</th>
            <th scope="col">Puesto</th>
            <th scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          {% for empleado in misempleados %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ empleado.idempleados }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{ empleado.fecha_ingreso }}</td>
            <td>{{ empleado.salario }}</td>
            <td>{{ empleado.curp }}</td>
            <td>{{ empleado.idsucursal }}</td>
            <td>{{ empleado.puesto }}</td>
            <td><a href="seleccionarEmpleado/{{ empleado.idempleados }}" class="btn btn-success">Editar</a></td>
            <td><a href="borrarEmpleado/{{ empleado.idempleados }}" class="btn btn-danger">Borrar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
