{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <!-- La tarjeta card-->
    <div class="card">
      <div class="card-body">
        <form action="{% url 'editarProveedor' %}" method="POST">
          {% csrf_token %}
          
          <div class="form-group">
            <input type="text" id="txtid" name="txtid" class="form-control" value="{{ misproveedores.idproveedor }}" readonly required>
          </div>

          <div class="form-group py-3">
            <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ misproveedores.nombre }}" maxlength="100" required>
          </div>

          <div class="form-group py-3">
            <input type="text" id="txtrfc" name="txtrfc" class="form-control" value="{{ misproveedores.rfc }}" maxlength="15" required>
          </div>

          <div class="form-group py-3">
            <input type="txt" id="txtdireccion" name="txtdireccion" class="form-control" value="{{ misproveedores.direccion }}" required>
          </div>

          <div class="form-group py-3">
            <input type="number" id="numtelefono" name="numtelefono" class="form-control" value="{{ misproveedores.telefono }}" required>
          </div>


          <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
