{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <h1>Registrar Proveedor</h1>
    <div class="card">
      <div class="card-body">
        <form action="{% url 'registrarProveedor' %}" method="POST">
          {% csrf_token %}
          
          <div class="form-group">
            <input type="text" id="txtid" name="txtid" class="form-control" placeholder="ID del Proveedor" required>
          </div>

          <div class="form-group py-3">
            <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" maxlength="100" required>
          </div>

          <div class="form-group py-3">
            <input type="text" id="txtrfc" name="txtrfc" class="form-control" placeholder="RFC" maxlength="15" required>
          </div>

          <div class="form-group py-3">
            <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Direccion" required>
          </div>

          <div class="form-group py-3">
            <input type="number" id="numtelefono" name="numtelefono" class="form-control" placeholder="Telefono" required>
          </div>

          <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>


<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
  <h1>Listado de Proveedores</h1>
  <img src="{% static "img/proveedores.jpg" %}" alt="Ejemplo de imagen">

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">RFC</th>
          <th scope="col">Direccion</th>
          <th scope="col">Telefono</th>
          <th scope="col">Sexo</th>
          <th scope="col">Edad</th>
          <th scope="col">-</th>
          <th scope="col">-</th>
        </tr>
      </thead>
      <tbody>
        {% for proveedor in misproveedores %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ proveedor.idproveedor }}</td>
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.rfc }}</td>
          <td>{{ proveedor.direccion }}</td>
          <td>{{ proveedor.telefono }}</td>
         
          <td><a href="seleccionarProveedor/{{ proveedor.idproveedor}}" class="btn btn-success">Editar</a></td>
          <td><a href="borrarProveedor/{{ proveedor.idproveedor }}" class="btn btn-danger">Borrar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
